Repository lablup/backend.ai-client-py, pull requests merged in 2021-11, with the labels that each got.

#183 fix: Explicitly handle null values in some output formatters
  changes/183.fix
  src/ai/backend/client/output/formatters.py
Labels: bug, cli

#178 feat: Add "--assign-agent" option when starting/running sessions
  changes/178.feature
  src/ai/backend/client/cli/params.py
  src/ai/backend/client/cli/run.py
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/session.py
Labels: feature

#185 fix: Add missing automatic mkdir to store announcements
  changes/185.fix
  src/ai/backend/client/cli/announcement.py
Labels: bug, cli

#186 feat: Improve formatting of announcements
  changes/186.feature
  setup.py
  src/ai/backend/client/cli/announcement.py
Labels: feature, cli
