Repository lablup/backend.ai-client-py, pull requests merged in 2021-12, with the labels that each got.

#189 feat: Add support for session renaming
  changes/189.feature
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/func/session.py
Labels: cli

#190 Update mypy to 0.930
  changes/190.misc
  src/ai/backend/client/config.py
Labels: maintenance

#191 fix: Warn explicitly when there are missing args in "session download" command
  changes/191.fix
  src/ai/backend/client/cli/session.py
Labels: bug, cli

#192 fix: Regression of "ssh" command
  changes/192.fix
  src/ai/backend/client/cli/ssh.py
Labels: bug, cli

#193 fix: Disable bogus known-host checking in the "ssh" command
  changes/193.fix
  src/ai/backend/client/cli/session.py
Labels: bug, cli
