Repository lablup/backend.ai-client-py, pull requests merged in 2022-03, with the labels that each got.

#205 feat: Use bgtask API to track progress of vfolder clone asynchronously
  changes/205.fix
  src/ai/backend/client/cli/vfolder.py
Labels: feature, cli, client

#208 feature: Add vfolder "mv" command
  changes/208.feature.md
  src/ai/backend/client/cli/pretty.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/func/vfolder.py
  tests/test_vfolder.py
Labels: feature, cli, client

#209 feat: Improve CLI error message format
  changes/209.feature.md
  src/ai/backend/client/cli/pretty.py
Labels: feature

#210 setup,ci: Include Python 3.10 in CI
  .github/workflows/default.yml
  .github/workflows/timeline-check.yml
  changes/210.misc.md
  requirements/timeline-check.txt
Labels: maintenance

#194 feat: add storage proxy address map for overriding
  changes/194.feature
  src/ai/backend/client/cli/params.py
  src/ai/backend/client/cli/vfolder.py
  src/ai/backend/client/config.py
  src/ai/backend/client/func/vfolder.py
Labels: cli

#198 feat: print mutation result in json
  changes/198.feature
  src/ai/backend/client/cli/admin/domain.py
  src/ai/backend/client/cli/admin/group.py
  src/ai/backend/client/cli/admin/keypair.py
  src/ai/backend/client/cli/admin/resource_policy.py
  src/ai/backend/client/cli/admin/scaling_group.py
  src/ai/backend/client/cli/admin/user.py
  src/ai/backend/client/func/group.py
  src/ai/backend/client/func/user.py
  src/ai/backend/client/output/console.py
  src/ai/backend/client/output/json.py
  src/ai/backend/client/output/types.py
Labels: feature, cli, client

#212 feat: Display architecture of agents and images
  changes/212.feature.md
  src/ai/backend/client/cli/admin/agent.py
  src/ai/backend/client/func/image.py
  src/ai/backend/client/output/fields.py
Labels: feature, cli, client

#213 fix: Add missing session creation args (starts_at, bootstrap_script)
  changes/213.fix.md
  src/ai/backend/client/func/session.py
Labels: bug, cli, client

#214 feat: Add func/cli args to specify session dependencies
  changes/214.feature.md
  src/ai/backend/client/cli/session.py
  src/ai/backend/client/config.py
  src/ai/backend/client/func/session.py
Labels: feature, cli, client

#215 fix: Deprecate concurrency_limit (replaced with max_concurrent_sessions)
  changes/215.fix.md
  src/ai/backend/client/cli/admin/keypair.py
  src/ai/backend/client/output/fields.py
  src/ai/backend/client/output/types.py
Labels: bug, maintenance

#216 fix: remove invalid "uuid" field from groups model
  changes/216.fix
  src/ai/backend/client/func/group.py
Labels: bug, client
